/* Maniac XIII */
/* Font cinzel */
@font-face {
  font-family: 'cinzel';
  src: url("../fonts/cinzel/Cinzel-Regular.ttf") format('truetype');
  font-weight: 100;
}

@font-face {
  font-family: 'cinzel';
  src: url("../fonts/cinzel/Cinzel-Medium.ttf") format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'cinzel';
  src: url("../fonts/cinzel/Cinzel-SemiBold.ttf") format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'cinzel';
  src: url("../fonts/cinzel/Cinzel-Bold.ttf") format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'cinzel';
  src: url("../fonts/cinzel/Cinzel-ExtraBold.ttf") format('truetype');
  font-weight: 800;
}

@font-face {
  font-family: 'cinzel';
  src: url("../fonts/cinzel/Cinzel-Black.ttf") format('truetype');
  font-weight: 900;
}

/* Font cinzel */

@font-face {
  font-family: 'viking';
  src: url("../fonts/viking/pr-viking.ttf") format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/montserrat/Montserrat-Regular.otf") format("otf");
}

/* Maniac XIV */
/* Font Dalek */
@font-face {
  font-family: 'dalek';
  src: url("../fonts/dalek/DALEK.TTF") format('truetype');
}

/* Font Lato */
@font-face {
  font-family: "Lato", sans-serif;
  src: url("../fonts/lato/Lato-Thin.ttf") format('truetype');
  font-weight: 100;
}

@font-face {
  font-family: "Lato", sans-serif;
  src: url("../fonts/lato/Lato-ThinItalic.ttf") format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Lato", sans-serif;
  src: url("../fonts/lato/Lato-Light.ttf") format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: "Lato", sans-serif;
  src: url("../fonts/lato/Lato-LightItalic.ttf") format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Lato", sans-serif;
  src: url("../fonts/lato/Lato-Regular.ttf") format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: "Lato", sans-serif;
  src: url("../fonts/lato/Lato-Bold.ttf") format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: "Lato", sans-serif;
  src: url("../fonts/lato/Lato-BoldItalic.ttf") format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Lato", sans-serif;
  src: url("../fonts/lato/Lato-Black.ttf") format('truetype');
  font-weight: 900;
}

@font-face {
  font-family: "Lato", sans-serif;
  src: url("../fonts/lato/Lato-BoldItalic.ttf") format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
    font-family: 'Creato Display';
    src: url('/fonts/CreatoDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Creato Display';
    src: url('/fonts/CreatoDisplay-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}